<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/base.css') }}">
            {% block page_styles %}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <nav>
            <a href="{{ path('user_list') }}">User List</a>
            <a href="{{ path('algorithm') }}">Algorithm Results</a>
            {% if app.user %}
                <a href="{{ path('app_logout') }}">Logout</a>
            {% else %}
                <a href="{{ path('app_login') }}">Login</a>
            {% endif %}
        </nav>

        <div class="container">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>